# Configuración del Servidor y App
APP_URL=http://localhost/base_test
SESSION_DURATION=3600

# Configuración de Base de Datos
DB_HOST=127.0.0.1
DB_NAME=base_test
DB_USER=root
DB_PASS=
DB_PORT=3306

# Actualizaciones de Scripts (cada cuántos clics verificar)
UPDATE_CHECK_CLICKS=3
